## Libraries Installation

In [ ]:
%pip install pandas spacy networkx matplotlib scipy lightfm

## Libraries Import

In [3]:
import os
import random
import numpy as np
import pandas as pd
import lightfm
import warnings

from lightfm import LightFM, cross_validation
from lightfm.evaluation import precision_at_k, auc_score
from scipy import sparse
from sklearn.metrics.pairwise import cosine_similarity

warnings.simplefilter(action='ignore', category=FutureWarning)

### Read Data

In [7]:
df_playlist = pd.read_csv('./sample/post/view_data.csv', error_bad_lines=False, warn_bad_lines=False, skiprows=lambda i: i > 0 and random.random() > 0.50)
df_playlist = df_playlist.drop('time_stamp', axis=1)
df_playlist

                        user_id    post_id
0      5eece14efc13ae660900003c   43094523
1      5eece14ffc13ae66090001d4   76472880
2      5eece14ffc13ae66090001bd  104702447
3      5eece14ffc13ae660900012c  387648862
4      5eece14ffc13ae660900018c  618411064
...                         ...        ...
35959  5eece14ffc13ae66090000a8   40799413
35960  5eece14ffc13ae6609000192  469745748
35961  5eece14ffc13ae660900018c  615389604
35962  5eece14ffc13ae6609000190  619052165
35963  5eece14efc13ae6609000067  426384418

[35964 rows x 2 columns]

In [8]:
df_playlist['user_id'].value_counts()
df_playlist['post_id'].value_counts()

408118198    16
512471515    16
440573675    15
401589099    15
517475247    15
             ..
56800053      1
840807769     1
730038714     1
994466500     1
653075852     1
Name: post_id, Length: 5980, dtype: int64

In [9]:
df_playlist['rating'] = 1
df_rating = df_playlist.groupby('post_id', as_index=False).sum()
post_id = df_rating['post_id'].tolist()
rating = df_rating['rating'].tolist()
rating_mapping = dict(zip(post_id, rating))
df_playlist['rating'] = df_playlist['post_id'].map(rating_mapping)
display(df_playlist)

                        user_id    post_id  rating
0      5eece14efc13ae660900003c   43094523      10
1      5eece14ffc13ae66090001d4   76472880       7
2      5eece14ffc13ae66090001bd  104702447       9
3      5eece14ffc13ae660900012c  387648862       4
4      5eece14ffc13ae660900018c  618411064       6
...                         ...        ...     ...
35959  5eece14ffc13ae66090000a8   40799413       6
35960  5eece14ffc13ae6609000192  469745748       7
35961  5eece14ffc13ae660900018c  615389604       6
35962  5eece14ffc13ae6609000190  619052165       5
35963  5eece14efc13ae6609000067  426384418       8

[35964 rows x 3 columns]

### Data Preprocessing

In [10]:
df_playlist = df_playlist.groupby('post_id').filter(lambda x: len(x) >= 10)
df_playlist

                        user_id    post_id  rating
0      5eece14efc13ae660900003c   43094523      10
12     5eece14efc13ae660900001f  293468411      10
14     5eece14efc13ae6609000017  660867347      10
16     5eece14ffc13ae66090000ef  285046033      11
23     5eece14efc13ae6609000024  140572936      10
...                         ...        ...     ...
35929  5eece14efc13ae660900000d  762752770      10
35944  5eece14ffc13ae660900011c   92186453      10
35951  5eece14ffc13ae6609000118  135453406      10
35954  5eece14efc13ae660900004b   38831519      12
35956  5eece14ffc13ae660900010d  110983111      10

[5333 rows x 3 columns]

In [11]:
df_playlist = df_playlist[df_playlist.groupby('user_id').post_id.transform('nunique') >= 10]
df_playlist

                        user_id    post_id  rating
0      5eece14efc13ae660900003c   43094523      10
12     5eece14efc13ae660900001f  293468411      10
14     5eece14efc13ae6609000017  660867347      10
16     5eece14ffc13ae66090000ef  285046033      11
23     5eece14efc13ae6609000024  140572936      10
...                         ...        ...     ...
35906  5eece14ffc13ae6609000152  332043391      12
35929  5eece14efc13ae660900000d  762752770      10
35944  5eece14ffc13ae660900011c   92186453      10
35951  5eece14ffc13ae6609000118  135453406      10
35954  5eece14efc13ae660900004b   38831519      12

[4288 rows x 3 columns]

In [12]:
df_title = pd.read_csv('./sample/post/post_data.csv')
titles = df_title['title'].tolist()
post_id = df_title['post_id'].tolist()
normal_mapping = dict(zip(titles, post_id))
reverse_mapping = dict(zip(post_id, titles))

### Define Functions

In [13]:
def create_interaction_matrix(df, user_col, item_col, rating_col, norm=False, threshold=None):
    interactions = df.groupby([user_col, item_col])[rating_col].sum().unstack().reset_index().fillna(0).set_index(user_col)
    if norm:
        interactions = interactions.applymap(lambda x: 1 if x > threshold else 0)
    return interactions

In [14]:
def create_user_dict(interactions):
    user_id = list(interactions.index)
    user_dict = {}
    counter = 0
    for i in user_id:
        user_dict[i] = counter
        counter += 1
    return user_dict

In [15]:
def create_item_dict(df, id_col, name_col):
    item_dict = {}
    for i in range(df.shape[0]):
        item_dict[(df.loc[i, id_col])] = df.loc[i, name_col]
    return item_dict

In [16]:
def runMF(interactions, n_components=30, loss='warp', k=15, epoch=30, n_jobs=4):
    # x = sparse.csr_matrix(interactions.values)
    model = LightFM(loss=loss, k=k, no_components=n_components)
    model = model.fit(x, epochs=epoch, num_threads=n_jobs)
    return model

In [17]:
def sample_recommendation_user(model, interactions, user_id, user_dict, item_dict, threshold=0, nrec_items=10, show=True):
    n_users, n_items = interactions.shape
    user_x = user_dict[user_id]
    scores = pd.Series(model.predict(user_x, np.arange(n_items)))
    scores.index = interactions.columns
    scores = list(pd.Series(scores.sort_values(ascending=False).index))

    known_items = list(pd.Series(interactions.loc[user_id, :][interactions.loc[user_id, :] > threshold].index).sort_values(ascending=False))
    scores = [x for x in scores if x not in known_items]
    return_score_list = scores[0:nrec_items]
    known_items = list(pd.Series(known_items).apply(lambda x: item_dict[x]))
    scores = list(pd.Series(return_score_list).apply(lambda x: item_dict[x]))

    if show:
        print("User {}".format(user_id))
        print("Known Likes:")

        counter = 1
        for i in known_items:
            print("{}- {}".format(counter, i))
            counter += 1

        print("Recommended Items:")
        counter = 1
        for i in scores:
            print("{}- {}".format(counter, i))
            counter += 1

### Create Model Inputs

In [18]:
df_playlist

                        user_id    post_id  rating
0      5eece14efc13ae660900003c   43094523      10
12     5eece14efc13ae660900001f  293468411      10
14     5eece14efc13ae6609000017  660867347      10
16     5eece14ffc13ae66090000ef  285046033      11
23     5eece14efc13ae6609000024  140572936      10
...                         ...        ...     ...
35906  5eece14ffc13ae6609000152  332043391      12
35929  5eece14efc13ae660900000d  762752770      10
35944  5eece14ffc13ae660900011c   92186453      10
35951  5eece14ffc13ae6609000118  135453406      10
35954  5eece14efc13ae660900004b   38831519      12

[4288 rows x 3 columns]

In [19]:
interactions = create_interaction_matrix(df=df_playlist, user_col='user_id', item_col='post_id', rating_col='rating', norm=False, threshold=None)
interactions.head()

post_id,10164988,12702125,13211110,15166848,16940159,20696144,20760164,21753916,21851527,23622541,...,976265938,976973324,979521918,983474575,984594176,988703947,990844883,994171620,994506044,995833095
user_id,,,,,,,,,,,,,,,,,,,,,
5eece14efc13ae6609000003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5eece14efc13ae6609000006,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5eece14efc13ae6609000008,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5eece14efc13ae660900000a,0.0,0.0,11.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5eece14efc13ae660900000c,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
user_dict = create_user_dict(interactions=interactions)
user_dict

{'5eece14efc13ae6609000003': 0,
 '5eece14efc13ae6609000006': 1,
 '5eece14efc13ae6609000008': 2,
 '5eece14efc13ae660900000a': 3,
 '5eece14efc13ae660900000c': 4,
 '5eece14efc13ae660900000d': 5,
 '5eece14efc13ae660900000e': 6,
 '5eece14efc13ae660900000f': 7,
 '5eece14efc13ae6609000010': 8,
 '5eece14efc13ae6609000012': 9,
 '5eece14efc13ae6609000014': 10,
 '5eece14efc13ae6609000017': 11,
 '5eece14efc13ae660900001b': 12,
 '5eece14efc13ae660900001c': 13,
 '5eece14efc13ae660900001d': 14,
 '5eece14efc13ae660900001e': 15,
 '5eece14efc13ae660900001f': 16,
 '5eece14efc13ae6609000022': 17,
 '5eece14efc13ae6609000024': 18,
 '5eece14efc13ae6609000025': 19,
 '5eece14efc13ae6609000026': 20,
 '5eece14efc13ae660900002a': 21,
 '5eece14efc13ae660900002b': 22,
 '5eece14efc13ae660900002c': 23,
 '5eece14efc13ae660900002d': 24,
 '5eece14efc13ae660900002e': 25,
 '5eece14efc13ae6609000030': 26,
 '5eece14efc13ae6609000031': 27,
 '5eece14efc13ae6609000032': 28,
 '5eece14efc13ae6609000033': 29,
 '5eece14efc13ae6609000036': 30,
 '5eece14efc13ae6609000037': 31,
 '5eece14efc13ae6609000039': 32,
 '5eece14efc13ae660900003a': 33,
 '5eece14efc13ae660900003c': 34,
 '5eece14efc13ae660900003f': 35,
 '5eece14efc13ae6609000041': 36,
 '5eece14efc13ae6609000042': 37,
 '5eece14efc13ae6609000043': 38,
 '5eece14efc13ae6609000045': 39,
 '5eece14efc13ae6609000046': 40,
 '5eece14efc13ae6609000047': 41,
 '5eece14efc13ae6609000048': 42,
 '5eece14efc13ae660900004a': 43,
 '5eece14efc13ae660900004b': 44,
 '5eece14efc13ae660900004c': 45,
 '5eece14efc13ae660900004e': 46,
 '5eece14efc13ae660900004f': 47,
 '5eece14efc13ae6609000052': 48,
 '5eece14efc13ae6609000056': 49,
 '5eece14efc13ae6609000057': 50,
 '5eece14efc13ae6609000058': 51,
 '5eece14efc13ae660900005b': 52,
 '5eece14efc13ae660900005c': 53,
 '5eece14efc13ae6609000062': 54,
 '5eece14efc13ae6609000064': 55,
 '5eece14efc13ae6609000067': 56,
 '5eece14efc13ae6609000068': 57,
 '5eece14efc13ae660900006c': 58,
 '5eece14efc13ae6609000070': 59,
 '5eece14efc13ae6609000071': 60,
 '5eece14efc13ae6609000072': 61,
 '5eece14efc13ae6609000073': 62,
 '5eece14efc13ae6609000074': 63,
 '5eece14efc13ae6609000075': 64,
 '5eece14efc13ae6609000076': 65,
 '5eece14ffc13ae660900007b': 66,
 '5eece14ffc13ae660900007e': 67,
 '5eece14ffc13ae660900007f': 68,
 '5eece14ffc13ae6609000080': 69,
 '5eece14ffc13ae6609000084': 70,
 '5eece14ffc13ae6609000086': 71,
 '5eece14ffc13ae6609000088': 72,
 '5eece14ffc13ae6609000089': 73,
 '5eece14ffc13ae660900008b': 74,
 '5eece14ffc13ae660900008e': 75,
 '5eece14ffc13ae6609000092': 76,
 '5eece14ffc13ae6609000093': 77,
 '5eece14ffc13ae6609000095': 78,
 '5eece14ffc13ae6609000096': 79,
 '5eece14ffc13ae660900009c': 80,
 '5eece14ffc13ae660900009e': 81,
 '5eece14ffc13ae660900009f': 82,
 '5eece14ffc13ae66090000a2': 83,
 '5eece14ffc13ae66090000a5': 84,
 '5eece14ffc13ae66090000a8': 85,
 '5eece14ffc13ae66090000aa': 86,
 '5eece14ffc13ae66090000ad': 87,
 '5eece14ffc13ae66090000ae': 88,
 '5eece14ffc13ae66090000af': 89,
 '5eece14ffc13ae66090000b2': 90,
 '5eece14ffc13ae66090000b5': 91,
 '5eece14ffc13ae66090000b6': 92,
 '5eece14ffc13ae66090000b8': 93,
 '5eece14ffc13ae66090000bb': 94,
 '5eece14ffc13ae66090000bf': 95,
 '5eece14ffc13ae66090000c0': 96,
 '5eece14ffc13ae66090000c3': 97,
 '5eece14ffc13ae66090000c5': 98,
 '5eece14ffc13ae66090000c8': 99,
 '5eece14ffc13ae66090000c9': 100,
 '5eece14ffc13ae66090000ca': 101,
 '5eece14ffc13ae66090000cd': 102,
 '5eece14ffc13ae66090000ce': 103,
 '5eece14ffc13ae66090000d0': 104,
 '5eece14ffc13ae66090000d2': 105,
 '5eece14ffc13ae66090000d3': 106,
 '5eece14ffc13ae66090000d5': 107,
 '5eece14ffc13ae66090000d9': 108,
 '5eece14ffc13ae66090000dc': 109,
 '5eece14ffc13ae66090000de': 110,
 '5eece14ffc13ae66090000e0': 111,
 '5eece14ffc13ae66090000e2': 112,
 '5eece14ffc13ae66090000e3': 113,
 '5eece14ffc13ae66090000e4': 114,
 '5eece14ffc13ae66090000e6': 115,
 '5eece14ffc13ae66090000e7': 116,
 '5eece14ffc13ae66090000e9': 117,
 '5eece14ffc13ae66090000ea': 118,
 '5eece14ffc13ae66090000eb': 119,
 '5eece14ffc13ae66090000ec': 120,
 '5eece14ffc13ae66090000ee': 121,
 '5eece14ffc13ae66090000ef': 122,
 '5eece14ffc13ae66090000f1': 123,
 '5eece14ffc13ae66090000f2': 124,
 '5eece14ffc13ae66090000f4': 125,
 '5eece14ffc13ae66090000f5': 126,
 '5eece14ffc13ae66090000f9': 127,
 '5eece14ffc13ae66090000fb': 128,
 '5eece14ffc13ae66090000fc': 129,
 '5eece14ffc13ae66090000fe': 130,
 '5eece14ffc13ae6609000101': 131,
 '5eece14ffc13ae6609000102': 132,
 '5eece14ffc13ae6609000105': 133,
 '5eece14ffc13ae6609000106': 134,
 '5eece14ffc13ae660900010a': 135,
 '5eece14ffc13ae660900010b': 136,
 '5eece14ffc13ae660900010c': 137,
 '5eece14ffc13ae660900010f': 138,
 '5eece14ffc13ae6609000113': 139,
 '5eece14ffc13ae6609000114': 140,
 '5eece14ffc13ae6609000117': 141,
 '5eece14ffc13ae6609000118': 142,
 '5eece14ffc13ae6609000119': 143,
 '5eece14ffc13ae660900011c': 144,
 '5eece14ffc13ae660900011d': 145,
 '5eece14ffc13ae660900011f': 146,
 '5eece14ffc13ae6609000120': 147,
 '5eece14ffc13ae6609000121': 148,
 '5eece14ffc13ae6609000122': 149,
 '5eece14ffc13ae6609000124': 150,
 '5eece14ffc13ae6609000129': 151,
 '5eece14ffc13ae660900012b': 152,
 '5eece14ffc13ae660900012c': 153,
 '5eece14ffc13ae660900012f': 154,
 '5eece14ffc13ae6609000131': 155,
 '5eece14ffc13ae6609000133': 156,
 '5eece14ffc13ae6609000134': 157,
 '5eece14ffc13ae6609000135': 158,
 '5eece14ffc13ae6609000136': 159,
 '5eece14ffc13ae6609000137': 160,
 '5eece14ffc13ae6609000138': 161,
 '5eece14ffc13ae6609000139': 162,
 '5eece14ffc13ae660900013a': 163,
 '5eece14ffc13ae660900013b': 164,
 '5eece14ffc13ae660900013d': 165,
 '5eece14ffc13ae660900013f': 166,
 '5eece14ffc13ae6609000140': 167,
 '5eece14ffc13ae6609000142': 168,
 '5eece14ffc13ae6609000147': 169,
 '5eece14ffc13ae6609000148': 170,
 '5eece14ffc13ae6609000149': 171,
 '5eece14ffc13ae660900014c': 172,
 '5eece14ffc13ae660900014e': 173,
 '5eece14ffc13ae660900014f': 174,
 '5eece14ffc13ae6609000150': 175,
 '5eece14ffc13ae6609000152': 176,
 '5eece14ffc13ae6609000154': 177,
 '5eece14ffc13ae6609000157': 178,
 '5eece14ffc13ae6609000159': 179,
 '5eece14ffc13ae660900015c': 180,
 '5eece14ffc13ae660900015d': 181,
 '5eece14ffc13ae6609000160': 182,
 '5eece14ffc13ae6609000162': 183,
 '5eece14ffc13ae6609000164': 184,
 '5eece14ffc13ae6609000165': 185,
 '5eece14ffc13ae6609000167': 186,
 '5eece14ffc13ae660900016c': 187,
 '5eece14ffc13ae660900016d': 188,
 '5eece14ffc13ae660900016e': 189,
 '5eece14ffc13ae6609000170': 190,
 '5eece14ffc13ae6609000171': 191,
 '5eece14ffc13ae6609000174': 192,
 '5eece14ffc13ae6609000175': 193,
 '5eece14ffc13ae6609000176': 194,
 '5eece14ffc13ae6609000178': 195,
 '5eece14ffc13ae660900017a': 196,
 '5eece14ffc13ae660900017b': 197,
 '5eece14ffc13ae660900017c': 198,
 '5eece14ffc13ae660900017d': 199,
 '5eece14ffc13ae660900017e': 200,
 '5eece14ffc13ae660900017f': 201,
 '5eece14ffc13ae6609000181': 202,
 '5eece14ffc13ae6609000185': 203,
 '5eece14ffc13ae660900018a': 204,
 '5eece14ffc13ae660900018b': 205,
 '5eece14ffc13ae660900018d': 206,
 '5eece14ffc13ae660900018e': 207,
 '5eece14ffc13ae6609000190': 208,
 '5eece14ffc13ae6609000191': 209,
 '5eece14ffc13ae6609000192': 210,
 '5eece14ffc13ae6609000194': 211,
 '5eece14ffc13ae6609000195': 212,
 '5eece14ffc13ae6609000196': 213,
 '5eece14ffc13ae6609000199': 214,
 '5eece14ffc13ae660900019b': 215,
 '5eece14ffc13ae660900019c': 216,
 '5eece14ffc13ae660900019e': 217,
 '5eece14ffc13ae66090001a0': 218,
 '5eece14ffc13ae66090001a2': 219,
 '5eece14ffc13ae66090001a4': 220,
 '5eece14ffc13ae66090001a7': 221,
 '5eece14ffc13ae66090001a8': 222,
 '5eece14ffc13ae66090001a9': 223,
 '5eece14ffc13ae66090001aa': 224,
 '5eece14ffc13ae66090001ab': 225,
 '5eece14ffc13ae66090001ad': 226,
 '5eece14ffc13ae66090001ae': 227,
 '5eece14ffc13ae66090001b1': 228,
 '5eece14ffc13ae66090001b2': 229,
 '5eece14ffc13ae66090001b5': 230,
 '5eece14ffc13ae66090001b7': 231,
 '5eece14ffc13ae66090001b8': 232,
 '5eece14ffc13ae66090001ba': 233,
 '5eece14ffc13ae66090001bb': 234,
 '5eece14ffc13ae66090001c3': 235,
 '5eece14ffc13ae66090001c4': 236,
 '5eece14ffc13ae66090001c8': 237,
 '5eece14ffc13ae66090001cd': 238,
 '5eece14ffc13ae66090001cf': 239,
 '5eece14ffc13ae66090001d0': 240,
 '5eece14ffc13ae66090001d6': 241,
 '5eece14ffc13ae66090001d7': 242,
 '5eece14ffc13ae66090001da': 243,
 '5eece14ffc13ae66090001de': 244,
 '5eece14ffc13ae66090001df': 245,
 '5eece14ffc13ae66090001e1': 246,
 '5eece14ffc13ae66090001e3': 247,
 '5eece14ffc13ae66090001e5': 248,
 '5eece14ffc13ae66090001e6': 249,
 '5eece14ffc13ae66090001e8': 250,
 '5eece14ffc13ae66090001ea': 251,
 '5eece14ffc13ae66090001ec': 252,
 '5eece14ffc13ae66090001ef': 253,
 '5eece14ffc13ae66090001f0': 254}

In [21]:
df_playlist

                        user_id    post_id  rating
0      5eece14efc13ae660900003c   43094523      10
12     5eece14efc13ae660900001f  293468411      10
14     5eece14efc13ae6609000017  660867347      10
16     5eece14ffc13ae66090000ef  285046033      11
23     5eece14efc13ae6609000024  140572936      10
...                         ...        ...     ...
35906  5eece14ffc13ae6609000152  332043391      12
35929  5eece14efc13ae660900000d  762752770      10
35944  5eece14ffc13ae660900011c   92186453      10
35951  5eece14ffc13ae6609000118  135453406      10
35954  5eece14efc13ae660900004b   38831519      12

[4288 rows x 3 columns]

In [22]:
item_dict = reverse_mapping

In [23]:
x = sparse.csr_matrix(interactions.values)
train, test = lightfm.cross_validation.random_train_test_split(x, test_percentage=0.2, random_state=None)

### Build a Model

In [24]:
%time
model = runMF(interactions=train, n_components=30, loss='warp', k=15, epoch=30, n_jobs=4)

CPU times: total: 0 ns
Wall time: 988 µs

In [25]:
train_auc = auc_score(model, train, num_threads=4).mean()
print('Collaborative filtering train AUC: %s' % train_auc)

Collaborative filtering train AUC: 0.9900784

In [26]:
train_precision = precision_at_k(model, train, k=10).mean()
test_precision = precision_at_k(model, test, k=10, train_interactions=train).mean()

In [27]:
print('train precision: %.2f, test precision %.2f' % (train_precision, test_precision))

train precision: 0.70, test precision 0.31

### Examples

In [28]:
rec_list = sample_recommendation_user(model=model, interactions=interactions, user_id='5eece14ffc13ae66090001ba', user_dict=user_dict, item_dict=item_dict, threshold=0, nrec_items=10, show=True)

User 5eece14ffc13ae66090001ba
Known Likes:
1-  Winning Tactics For DANCE
2-  Sick And Tired Of Doing GST The Old Way? Read This
3-  Never Changing GST Will Eventually Destroy You
4-  Is ART Worth [$] To You?
5-  How To Start A Business With FASHION DESIGN
6-  Secrets To SCIENCE – Even In This Down Economy
7- HR MANAGEMENT: Do You Really Need It? This Will Help You Decide!
8-  10 Funny PROGRAMMING Quotes
9-  How To Make Your PAINTING Look Amazing In 5 Days
10-  3 Ways To Master FASHION DESIGN Without Breaking A Sweat
11-  Why You Never See PROGRAMMING That Actually Works
12-  Quick and Easy Fix For Your POLITICAL
13-  Take 10 Minutes to Get Started With HR MANAGEMENT
14- CRAFT And The Chuck Norris Effect
15-  The Ultimate Deal On PAINTING
Recommended Items:
1-  Fascinating SCIENCE Tactics That Can Help Your Business Grow
2-  Here Is What You Should Do For Your HR MANAGEMENT
3-  Everything You Wanted to Know About PAINTING and Were Afraid To Ask
4-  27 Ways To Improve HR MANAGEMENT
5- PAINTING: This Is What Professionals Do
6-  Got Stuck? Try These Tips To Streamline Your PHOTOGRAPHY
7-  3 Ways To Master CRAFT Without Breaking A Sweat
8-  Do GRAPHIC Better Than Barack Obama
9- SCIENCE Made Simple - Even Your Kids Can Do It
10-  How To Lose Money With FASHION DESIGN

In [29]:
rec_list = sample_recommendation_user(model=model, interactions=interactions, user_id = '5eece14efc13ae6609000047', user_dict=user_dict, item_dict=item_dict, threshold=0, nrec_items=10, show=True)

User 5eece14efc13ae6609000047
Known Likes:
1-  Who Else Wants To Be Successful With BANKING
2-  5 Ways To Get Through To Your BUSINESS
3-  Need More Time? Read These Tips To Eliminate BUSINESS
4-  The Ultimate Secret Of ZOOLOGY
5-  How You Can (Do) POLITICS In 24 Hours Or Less For Free
6-  The Death Of PHOTOGRAPHY And How To Avoid It
7-  Does BUSINESS Sometimes Make You Feel Stupid?
8-  In 10 Minutes, I'll Give You The Truth About DANCE
9-  Can You Pass The PROGRAMMING Test?
10-  Guaranteed No Stress ART
11-  The Lazy Way To CRAFT
12-  How To Lose Money With PAINTING
13-  5 Simple Steps To An Effective SCIENCE Strategy
14-  Find A Quick Way To PAINTING
15-  Are You Embarrassed By Your MATHEMATICS Skills? Here's What To Do
Recommended Items:
1-  These 5 Simple FASHION DESIGN Tricks Will Pump Up Your Sales Almost Instantly
2-  Got Stuck? Try These Tips To Streamline Your CRAFT
3-  Who Else Wants To Enjoy DRAWING
4-  The Number One Reason You Should (Do) BANKING
5-  How We Improved Our ART In One Week(Month, Day)
6-  Rules Not To Follow About BUSINESS
7-  What You Should Have Asked Your Teachers About MATHEMATICS
8-  Want More Money? Start OPERATING SYSTEM
9-  The Anthony Robins Guide To PROGRAMMING
10-  The Number One Reason You Should (Do) PAINTING